* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Header SCSS
header {
    background-color: #212529;

    .container {
        .top {
            height: 60px;
            align-items: center;

            .base {
                h5 {
                    font-size: 19px;
                    font-weight: 400;

                    a {
                        color: white;
                        text-decoration: none;
                    }
                }
            }

            .base-menu {
                display: flex;
                justify-content: end;

                ul {
                    li {
                        font-size: 16px;
                        display: inline-block;
                        padding: 4px 10px 0 0;

                        a {
                            color: lightgray;
                            text-decoration: none;
                            transition: .2s;

                            &:hover {
                                color: white;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            .menu {
                float: right;
                position: relative;
                bottom: 25px;
                width: 50px;
                height: 45px;
                padding: 5px;
                border: 1px solid gray;
                border-radius: 5px;

                i {
                    display: inline-block;
                    font-size: 22px;
                    color: lightgray;
                    margin: 6px 10px;
                }
            }
        }

        .bottom {
            .text-button {
                width: 550px;
                height: 70vh;
                margin: 0 auto;
                position: relative;
                top: 90px;

                .caption {

                    text-align: center;

                    h1 {
                        color: white;
                        font-size: 50px;
                    }

                    p {
                        color: gray;
                        font-size: 20px;
                    }
                }

                .button {
                    display: flex;
                    justify-content: space-evenly;

                    .start-btn {
                        button {
                            border: none;
                            border-radius: 10px;
                            color: white;
                            background-color: #0d6efd;
                            font-size: 20px;
                            padding: 10px;
                            width: 160px;
                            transition: .3s;

                            &:hover {
                                background-color: #053c8f;
                            }
                        }
                    }

                    .learn-btn {
                        button {
                            border: 2px solid white;
                            border-radius: 10px;
                            background-color: #212529;
                            color: white;
                            font-size: 20px;
                            padding: 10px;
                            width: 160px;
                            transition: .3s;

                            &:hover {
                                background-color: white;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Main SCSS


#Featured {
    .container {
        .row {
            .icon-info {
                margin: 50px 0;
                padding: 45px 45px;

                .icon {
                    width: 60px;
                    height: 60px;
                    background-color: #0d6efd;
                    border-radius: 5px;
                    margin: 0 0 16px 0;

                    i {
                        font-size: 30px;
                        margin: 15px 17px;
                        color: white;
                    }
                }

                &:nth-child(2) {
                    .icon {
                        i {
                            font-size: 30px;
                            margin: 15px 18px;
                            color: white;
                        }
                    }
                }

                &:nth-child(3) {
                    .icon {
                        i {
                            font-size: 30px;
                            margin: 15px 13px;
                            color: white;
                        }
                    }
                }
            }

            .info {
                width: 95%;

                h2 {
                    font-size: 22px;
                }
            }
        }
    }
}

#Payying {
    background-color: #eeeded;

    .title {
        text-align: center;
        display: block;
        padding: 80px 0 40px 0;

        p {
            font-size: 18px;
            color: gray;
        }
    }

    .container {
        .row {
            .premium {
                border: 2px solid lightgray;
                background-color: white;
                padding: 50px;
                width: 340px;
                margin: 20px 20px 60px;

                &:nth-child(2){
                 .price{
                    h6{
                        i{
                            color: rgba(255, 255, 0, 0.616);
                        }
                        color: black;
                    }
                 }   
                 .btn{
                    button{
                        background-color: #0d6efd;
                        color: white;
                        &:hover{
                            background-color: #053c8f;
                        }
                    }
                 }
                }
                .price {
                    h6{
                        color: gray;
                    }
                    h1{
                        font-size: 55px;
                        display: inline-block;
                    }
                    span{
                        color: gray;
                    }
                }
             
                .resource{
                    .good{
                        i{
                            font-size: 10px;
                            display: inline-block;
                            margin: 0 2px;
                            color: #0d6efd;
                        }
                    }
                    .bad{
                        i{
                            font-size: 10px;
                            display: inline-block;
                            margin: 0 2px;
                            color: gray;
                        }
                        color: gray;
                    }
                }
                .btn{
                    width: 100%;
                    button{
                        width: 100%;
                        border: 1px solid #0d6efd;
                        border-radius: 5px;
                        padding: 7px 0;
                        background-color: white;
                        color: #0d6efd;
                        transition: .3s;

                        &:hover{
                            background-color: #0d6efd;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

#Customer{
    margin: 0 0 80px 0;
    .title{
        text-align: center;
        margin: 60px 0 0 0;
        padding: 40px 0 20px 0;

        p{
            font-size: 19px;
            color: gray;
        }
    }
    .messages{
        .icon-text{
            width: 40%;
            margin: 20px auto;
            display: flex;
            padding: 18px;
            border: 1px solid lightgray;
            border-radius: 5px;

            .icon{
                i{
                    font-size: 50px;
                    color: #0d6efd;
                }
                margin-right: 20px;
            }
            .text{
                .client{
                    color: gray;
                }
            }
        }
    }
}

#Mail{
    .container{

    }
}